.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.top-button-holder>h2,.nav>h2{
    margin-right: 10vw;
    margin-left: 5vw;
}


.info-displayer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
   
}
.info-displayer>h3{
    margin-left: 10vw;
}

table{
    border-collapse: collapse;
    width: 60vw;
    min-height: 15vh;
    
}

table th,
table td {
  text-align: left;
  padding: 12px 16px;
  margin-left: 90px;
}

table thead {
  
  font-weight: bold;
}

 tr {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

tr:hover {
  background-color: #f0f0f0; /* highlight on hover */
}

.table-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.low-button-holder{
   margin-top: 5vh;
    flex-direction: column;
}

 @media screen and (max-width:767px) {
    table{
        width: 80vw;
        table-layout: fixed;

    }
    table th,
table td {
  text-align: left;
  font-size: 16px;
  padding: 3px 2px;
  margin-left: 10px;
  border: 1px solid black;
  width: 7vw;
  white-space: normal;   
  word-wrap: break-word;
  overflow-wrap: break-word;
  vertical-align: top;
 
}
h2{
    font-size: 16px;
}
h3{
    font-size: 16px;
}
.top-button-holder>h2,.nav>h2{
    margin-right: 2vw;
    margin-left: 1vw;
}
.table-container{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.info-displayer{
    flex-direction: column;
    justify-content: start;
    width: 50%;
}
    .info-displayer>h2{
        margin: 0px;
    }
    .nav{
        width: 70%;
    }
    .top-button-holder>button{
        width: 17vw;
    }
    .low-button-holder{
        width: 70%;
    }
 }