
.card{
  display: inline-block;
  background-color: rgb(204, 148, 148);
  color: white;
  width: 25w;
  max-height: 25vh;
  margin: 10px;
  text-align: center;
}
.card>h3{
  font-size: larger;
  
  
}
.card-holder{
  margin-left: 5vw;

}


@media screen and (max-width: 767px) {

  .card{
    width: 40vw;
  }

}